name: Pluto Workflow

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      template_dir:
        required: false
        type: string
        default: ""
jobs:
  review-k8s-api:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@v5.10.3
      - name: install Kubernetes-deploy(render)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: gem install activesupport -v 6.1.6
      - run: gem install kubernetes-deploy
      - name: Run Pluto to scan K8S Manifest and send a report to OpsLevel
        shell: bash
        env:
          UNENCRYPTED_TARGET_VERSION: ${{ secrets.TARGET_K8S_VERSION }}
          UNENCRYPTED_OPSLEVEL_PLUTO_INTEGRATION_WEBHOOK_URL: ${{ secrets.OPSLEVEL_PLUTO_INTEGRATION_WEBHOOK_URL }}
        run: |
          kubernetes-render --bindings="image=a,environment=${{ inputs.environment }}" --template-dir ${{ inputs.template_dir }} | pluto detect - --target-versions k8s=$UNENCRYPTED_TARGET_VERSION --ignore-deprecations --ignore-removals --output json | curl -i -s -X POST $UNENCRYPTED_OPSLEVEL_PLUTO_INTEGRATION_WEBHOOK_URL?alias=${{ inputs.service_name }} -H 'content-type: application/json' --data-binary @-

